In [1]:
! apt-get install default-jre
!java -version

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 7 not upgraded.
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3)
OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)

In [2]:
! pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/6b/d1/aaa74df4716b2454d6034261807ef3855d014862c801f0e9b803b568006d/h2o-3.28.0.1.tar.gz (123.4MB)
     |████████████████████████████████| 123.4MB 24kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.21.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.6)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.28.0.1-py2.py3-none-any.whl size=123410554 sha256=fffcfc1fc505acd43b88a074965931877bfb20fb0849d0ffcfa9e2a4548f7d8b
  Stored in directory: /root/.cache/pip/wheels/ff/82/f4/3fe9c895b93c53b25ae44dc44aa54dad571c711f48bc485fe9
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.3 h2o-3.28.0.1

In [3]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.4" 2019-07-16; OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3); OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpve222bh2
  JVM stdout: /tmp/tmpve222bh2/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpve222bh2/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    1 day
H2O cluster name:           H2O_from_python_unknownUser_ohhn7i
H2O cluster total nodes:    1
H2O cluster free memory:    3 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [0]:
# summary describe info

In [7]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:
train, test = iris.split_frame([0.8])

In [9]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.4,2.0,1.0,0.1,
mean,5.844247787610622,3.0646017699115053,3.7026548672566375,1.1761061946902653,
maxs,7.9,4.2,6.9,2.5,
sigma,0.8563771337418776,0.4246680119269434,1.833442321397452,0.790826233428773,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [10]:
type(train)

h2o.frame.H2OFrame

In [12]:
train.nrows

113

In [13]:
test.nrows

37

In [0]:
from h2o.estimators.deeplearning  import H2ODeepLearningEstimator as dle

In [15]:
mDL = dle()
mDL.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [17]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1576691465795_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,130 training samples, mini-batch size 1

     layer  units       type  ...  mean_weight weight_rms   mean_bias    bias_rms
0        1      4      Input  ...
1        2    200  Rectifier  ...  -0.00873111   0.105762    0.487268   0.0115359
2        3    200  Rectifier  ... -0.000560776  0.0697358     0.99936   0.0035979
3        4      3    Softmax  ...   -0.0330411   0.391815 -0.00204297  0.00298091

[4 rows x 14 columns]

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.09040726523992913
RMSE: 0.3006780092390016
LogLoss: 0.3280314811980916
Mean Per-Class Error: 0.11666666666666665

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error      Rate
0         42.0              0.0             0.0  0.000000    0 / 42
1          0.0             31.0             0.0  0.000000    0 / 31
2          0.0             14.0            26.0  0.350000   14 / 40
3         42.0             45.0            26.0  0.123894  14 / 113

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.876106
1  2   1.000000
2  3   1.000000

Scoring History:

               timestamp  ... training_r2 training_classification_error
0    2019-12-18 18:10:47  ...         NaN                           NaN
1    2019-12-18 18:10:48  ...    0.565675                      0.362832
2    2019-12-18 18:10:49  ...    0.875361                      0.123894

[3 rows x 11 columns]

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.276819
1  sepal_len             0.899838           0.899838    0.249092
2  sepal_wid             0.875723           0.875723    0.242417
3  petal_len             0.836906           0.836906    0.231672

In [18]:
pred = mDL.predict(test)
pred

deeplearning prediction progress: |███████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999132,0.000868138,9.52675e-21
Iris-setosa,0.999004,0.000996175,5.07632e-21
Iris-setosa,0.999646,0.000354011,1.31043e-21
Iris-setosa,0.999741,0.000258866,1.42242e-21
Iris-setosa,0.999446,0.000554167,4.77479e-21
Iris-setosa,0.999743,0.000257153,1.68094e-21
Iris-setosa,0.999502,0.000497828,6.18531e-21
Iris-setosa,0.998635,0.00136503,1.69493e-20
Iris-versicolor,1.30964e-06,0.999919,7.93369e-05
Iris-versicolor,1.36367e-05,0.999926,6.07245e-05

In [19]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.06636911875185722
RMSE: 0.25762204632340224
LogLoss: 0.2602954206431017
Mean Per-Class Error: 0.09999999999999999

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          8.0              0.0             0.0  0.000000   0 / 8
1          0.0             19.0             0.0  0.000000  0 / 19
2          0.0              3.0             7.0  0.300000  3 / 10
3          8.0             22.0             7.0  0.081081  3 / 37

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.918919
1  2   1.000000
2  3   1.000000

In [0]:
from h2o.automl import H2OAutoML

In [24]:
mA = H2OAutoML(max_runtime_secs=30) #train on many different model
mA.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

AutoML progress: |██████████████████████████
18:23:02.926: Skipping training of model GBM_5_AutoML_20191218_182246 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20191218_182246.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 113.0.


██████████████████████████████| 100%

In [25]:
mA

In [26]:
mA.leader.predict(test) #predictions by best models

stackedensemble prediction progress: |████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.898845,0.050145,0.0510104
Iris-setosa,0.89838,0.050385,0.0512354
Iris-setosa,0.89901,0.0500444,0.0509453
Iris-setosa,0.896252,0.0514121,0.0523363
Iris-setosa,0.898103,0.0505158,0.0513809
Iris-setosa,0.898625,0.0502455,0.0511293
Iris-setosa,0.898951,0.0500809,0.0509681
Iris-setosa,0.898549,0.0503148,0.0511363
Iris-versicolor,0.0631342,0.803392,0.133474
Iris-versicolor,0.0610375,0.814577,0.124385

In [27]:
mA.leader.model_performance(test)

ModelMetricsMultinomialGLM: stackedensemble
** Reported on test data. **

MSE: 0.027935053245575655
RMSE: 0.16713782709361652