In [1]:
! apt-get install default-jre
!java -version
! pip install h2o
import h2o
h2o.init()

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 7 not upgraded.
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment (build 11.0.5+10-post-Ubuntu-0ubuntu1.118.04)
OpenJDK 64-Bit Server VM (build 11.0.5+10-post-Ubuntu-0ubuntu1.118.04, mixed mode, sharing)
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/6b/d1/aaa74df4716b2454d6034261807ef3855d014862c801f0e9b803b568006d/h2o-3.28.0.1.tar.gz (123.4MB)
     |████████████████████████████████| 123.4MB 88kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.21.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.6)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.28.0.1-py2.py3-none-any.whl size=123410554 sha256=37330e9fcaed3b306e053c4c7ebdcc3b16b02a0a31dc74536f25a349fbeaa37c
  Stored in directory: /root/.cache/pip/wheels/ff/82/f4/3fe9c895b93c53b25ae44dc44aa54dad571c711f48bc485fe9
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.3 h2o-3.28.0.1
Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.5" 2019-10-15; OpenJDK Runtime Environment (build 11.0.5+10-post-Ubuntu-0ubuntu1.118.04); OpenJDK 64-Bit Server VM (build 11.0.5+10-post-Ubuntu-0ubuntu1.118.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpredaohb5
  JVM stdout: /tmp/tmpredaohb5/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpredaohb5/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    2 days
H2O cluster name:           H2O_from_python_unknownUser_ki3c3z
H2O cluster total nodes:    1
H2O cluster free memory:    3 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [6]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url, destination_frame='smoking')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:
train, test = iris.split_frame([0.8])

In [9]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.1,0.1,
mean,5.861475409836066,3.023770491803279,3.853278688524589,1.2327868852459016,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8110239137328344,0.4470386081073975,1.6987688505624423,0.7314022107405531,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [10]:
train.nrows

122

In [11]:
test.nrows

28

In [13]:
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator as nbe

nb = nbe()
nb.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [14]:
nb.predict(test)

naivebayes prediction progress: |█████████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,1,9.36244e-17,4.33976e-23
Iris-setosa,1,1.56141e-17,1.85171e-23
Iris-setosa,1,1.60849e-16,7.83557e-22
Iris-setosa,1,1.23544e-16,1.49194e-22
Iris-setosa,1,2.99046e-17,1.26456e-22
Iris-setosa,1,2.38412e-19,8.30228e-25
Iris-setosa,1,3.93185e-14,7.39956e-20
Iris-setosa,1,5.40758e-16,3.45559e-22
Iris-setosa,1,7.51102e-14,4.86267e-20
Iris-setosa,1,1.63433e-17,9.58147e-24

In [15]:
nb.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.02453732707724176
RMSE: 0.15664395001800024
LogLoss: 0.06540105357813696
Mean Per-Class Error: 0.03333333333333333

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         14.0              0.0             0.0  0.000000  0 / 14
1          0.0              4.0             0.0  0.000000   0 / 4
2          0.0              1.0             9.0  0.100000  1 / 10
3         14.0              5.0             9.0  0.035714  1 / 28

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.964286
1  2   1.000000
2  3   1.000000

In [16]:
nb2 = nbe(laplace = 2)
nb2.train(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid'], 'class', train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [17]:
nb2

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1576776440278_2


Model Summary:

     ...  max_apriori_probability
0    ...                    0.375

[1 rows x 4 columns]

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.03498173924848363
RMSE: 0.18703405906006432
LogLoss: 0.11372445335808544
Mean Per-Class Error: 0.04673913043478261

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         36.0              0.0             0.0  0.000000   0 / 36
1          0.0             43.0             3.0  0.065217   3 / 46
2          0.0              3.0            37.0  0.075000   3 / 40
3         36.0             46.0            40.0  0.049180  6 / 122

Top-3 Hit Ratios:

   k  hit_ratio
0  1    0.95082
1  2    1.00000
2  3    1.00000

In [18]:
nb2.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.024513468523780706
RMSE: 0.15656777613474845
LogLoss: 0.06532408415078236
Mean Per-Class Error: 0.03333333333333333

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         14.0              0.0             0.0  0.000000  0 / 14
1          0.0              4.0             0.0  0.000000   0 / 4
2          0.0              1.0             9.0  0.100000  1 / 10
3         14.0              5.0             9.0  0.035714  1 / 28

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.964286
1  2   1.000000
2  3   1.000000